<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Pagina no encontrada</h2>
                <div class="error-details">
                    Lo sentimos, ha ocurrido un error, La pagina no se encuentra!
                </div>
                <div class="error-actions">
                    <a href="#" class="btn btn-primary btn-lg" [routerLink]="['/login']"><span class="glyphicon glyphicon-home"></span>
                        Volver a Pagina Inicial </a>
                </div>
            </div>
        </div>
    </div>
</div>
